//region normolize
*{
	padding: 0;
	margin: 0;
	border: 0
}

*, *:after, *:before{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

*:active, *:focus{
	outline: none
}

a:active, a:focus{
	outline: none
}

aside, footer, header, nav{
	display: block
}

body, html{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

button, input, textarea{
	font-family: inherit
}

input::-ms-clear{
	display: none;
	width: 0;
	height: 0
}

button{
	cursor: pointer
}

button::-moz-focus-inner{
	padding: 0;
	border: 0
}

a, a:visited{
	text-decoration: none
}

a:hover{
	text-decoration: none
}

ul li{
	list-style: none
}

img{
	vertical-align: top
}

h1, h2, h3, h4, h5, h6{
	font-size: inherit;
	font-weight: 400
}

input[type=date]::-webkit-calendar-picker-indicator{
	opacity: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}
select, input{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
//endregion

//region Основа
body{
	font-family: Roboto, serif;
	font-weight: 400;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

main{
	flex: auto 1 0;
	margin: 0 0 58px 0;
	min-height: 100vh;
}

.container{
	margin: 0 auto;
	padding: 0 10px;
}

//endregion

//region header
.header{
	background-color: #1f2229;
	margin-bottom: 40px;

	.container.container-wide{
		max-width: 1142px;
	}

	&__wrapper{
		padding: 10px 0;
	}

	.logo{
		display: flex;
		align-items: center;
		column-gap: 20px;

		&__img{
			max-width: 87px;

			img{
				width: 100%;
			}
		}

		&__label{

			span{
				color: #ffffff;
			}
		}
	}
}

//endregion

//region main
main{
	.container{
		max-width: 800px;
	}

	.form{
		//region __titles
		margin-bottom: 47px;
		&__titles{
			text-align: center;
			margin-bottom: 72px;
		}

		&__big-title{
			margin-bottom: 30px;

			span{
				font-size: 36px;
			}
		}

		&__small-title{
			span{
				font-size: 12px;
			}
		}

		//endregion


		//region __body
		&__body form{

		}

		&__row{
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;

			&:nth-last-child(2){
				@media (max-width: 512px){
					margin-bottom: 15px;
				}
			}
		}

		label{
			margin: 20px 0;
			position: relative;
			display: inline-block;

			.input-placeholder{
				padding: 10px;
				pointer-events: none;
				font-size: 12px;
				position: absolute;
				left: 0;
				top: 20%;
				transition: all 0.2s ease 0s;
				opacity: 1;
			}

			input:focus ~ span.input-placeholder{
				opacity: 1;
				top: 0;
				transform: scale(0.75) translateY(-30%) translateX(-20px);
			}
			input:not(:focus) ~ span.input-placeholder{
				transition: all 0.2s ease 0.5s;
			}
			input:not([value = '']) ~ span.input-placeholder{
				opacity: 1;
				top: 0;
				transform: scale(0.75) translateY(-30%) translateX(-20px);
			}
		}

		input:not([type=checkbox]){
			min-width: 242px;
			min-height: 52px;
			border: 1px solid #000000;
			padding: 13px 13px 4px;
		}
		select{
			background: none;
			padding: 15.6px 8px;
			border: 1px solid rgba(0, 0, 0, 0.61);
			transition: all 0.4s ease 0s;
			font-family: inherit;
			font-size: 1rem;
			@media screen
			and (max-device-width: 512px)
			{
				border: none !important;
			}

		}
		//region Валидация
		input{
			transition: all 0.4s ease 0s;
		}
		input.error, input.error ~ select{
			border: 1px solid #FF5A5F;
		}
		input.success, input.success ~ select{
			border: 1px solid #33C4A0;
		}
		.input-error{
			position: absolute;
			font-size: 10px;
			bottom: -20px;
			left: 10px;
			color: #FF5A5F;
		}
		//endregion

		.year-month{
			position: absolute;
			right: 0;
		}

		.input-date{
			caret-color: transparent;
		}

		.checkbox{
			position: relative;
			&__input{
				position: absolute;

			}
			&__label{
				padding-left: 25px;
				font-size: 14px;
				&::before{
					content: '';
					display: block;
					width: 16px;
					height: 16px;
					border: 1px solid #000;
					background-color: #fff;

					position: absolute;
					top: -2px;
					left: 0;
					z-index: 1;
				}
				&::after{
					content: '';
					opacity: 0;
					display: block;
					width: 16px;
					height: 16px;
					transition: all 0.4s ease 0s;
					background: url("img/check.svg") no-repeat;
					-webkit-background-size: 16px 16px;background-size: 16px 16px;
					position: absolute;
					top: -2px;
					left: 0;
					z-index: 2;
				}

				&.active::after{
					opacity: 1;
				}
			}
		}

		.submit{
			text-align: left;
			margin-left: 65px;
			justify-content: start;
			@media (max-width: 512px){
				justify-content: center;
				margin: 0;
			}
			button{
				min-width: 172px;
				min-height: 52px;
				background-color: #33C4A0;
				border: 1px solid #33C4A0;

				span{
					font-weight: 500;
					color: #FFFFFF;
				}
			}
		}
		//endregion
	}

	//region Результат
	.container_small{
		width: 82%;
		margin: 0 auto;
	}
	.separator{
		width: 100%;
		height: 1px;
		border: 1px solid rgba(0, 0, 0, 0.61);
		margin-bottom: 15px;
	}

	.result{
		padding: 0 10px;

		&__title{
			font-size: 12px;
			font-family: "Arial Unicode MS", serif;
			margin-bottom: 15px;
		}

		&__sum, &__sum2{
			padding: 0 10px;
			font-weight: 700;
			@media (max-width: 400px){
				font-size: 13px;
			}
		}
	}
	//endregion
}

//endregion